ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color:grey;
    font-style: italic;
    display: inline-flex;
    width:
}

nav{
    position: flex;
    background-color:grey;
}

li a{
    display:block;
    padding: 10px 8px;
}

li a:hover{
    background-color: lightcoral;
}

body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

img{
    width: 500px;
    height: 300px;
}